<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>其他管理</title>
  <link href="../../static/myImages/树洞.jpg" rel="icon" type="image/x-ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css" >
  <link rel="stylesheet" href="../js/sweetalert.css"/>
  <link rel="stylesheet" href="../../static/css/TGTool.css">
</head>
<body>

<!--导航栏-->
<nav class="ui inverted gird-header" id="top">
  
</nav>

  <div class="m-padded-tb-hugex">
  </div>

  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-massive">
    <div class="ui container">
      
        <div class=" field">
          <div class="ui left labeled input m-margin-top">
            <button type="button" class="ui button" onclick="showAvatar(0)">头像管理</button>
			<button class="ui button" onclick="showAvatar(1)">博客首图集管理</button>
			<p class="ui button" onclick="setIndexBg()">首页背景(点击提交)</p>
			<input type="text" placeholder="请输入1~4" id="bgid">		
          </div>
        </div>

     
    </div>
  </div>



<div class="ui modal" id="firstPictures">
			<div class="header">
				博客首图集（点击图片即可删除）
			</div>
			<div class="content">
				<div class="ui equal width form">
					<div class="fields" id="firstPicture">
						
					</div>
				</div>
			</div>
			<div class="actions">
			
				<div class="ui black deny button">
					返回
				</div>
				<div class="ui right labeled icon button" onclick="javascript:$('#newAvatar').modal({allowMultiple: true}).modal('show')">
					新增
					<i class="plus icon"></i>
				</div>
			</div>
	</div>

<script type="text/template" id="firstPictureT">
  	<div class="ui tiny images">
  		{{#each this}}
  		<a href="javascript:void(0)" onclick="deleteAvatar({{id}},1)">
  		<img class="ui medium rounded image" src="{{thurl}}" alt="{{name}}">	
  		</a>
  		{{/each}}
  	</div>
  </script>

<div class="ui modal" id="heads">
			<div class="header">
				头像集（点击头像即可删除）
			</div>
			<div class="content">
				<div class="ui equal width form">
					<div class="fields" id="avatar">
						
					</div>
				</div>
			</div>
			<div class="actions">
			
				<div class="ui black deny button">
					返回
				</div>
				<div class="ui right labeled icon button" onclick="javascript:$('#newAvatar').modal({allowMultiple: true}).modal('show')">
					新增
					<i class="plus icon"></i>
				</div>
			</div>
	</div>

<!--弹出层-->
  <div class="ui modal" id="newAvatar">
  		<div class="header">
  			上传图片
  		</div>
  		<div class="content">
  			<div class="ui equal width form">
  				<div class="fields">
  					<div class="field">
  						<label>名称</label>
  						<input type="text" id="name" name="name">
  					</div>
  				</div>
  				<div class="fields">
  					<div class="field">
  						<label>图片</label>
  						<input type="file" name="file" id="file">
  					</div>
  				</div>
  			</div>
  		</div>
  		<div class="actions">
  		
  			<div class="ui black deny button" onclick="clearContent()">
  				返回
  			</div>
  		
  			<div class="ui positive right labeled icon button" onclick="saveAvatar()">
  				确定
  				<i class="checkmark icon"></i>
  			</div>
  			
  		</div>
  </div>
  
  <script type="text/template" id="avatarT">
  	<div class="ui tiny images">
  		{{#each this}}
  		<a href="javascript:void(0)" onclick="deleteAvatar({{id}},0)">
  		<img class="ui medium rounded image" src="{{url}}" alt="{{name}}">	
  		</a>
  		{{/each}}
  	</div>
  </script>
  
  <br>
  <br>
	<br>
	<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity" id="end">
  

</footer>


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <script src="../js/handlebars-v4.7.7.js"></script>
  <script src="../js/sweetalert-dev.js"></script>
  <script src="../js/myJs.js"></script>
  <script src="../js/TGTool.js"></script>
  <script src="https://eqcn.ajz.miesnfu.com/wp-content/plugins/wp-3d-pony/live2dw/lib/L2Dwidget.min.js"></script>
  
  <script>
  	     <!--小帅哥： https://unpkg.com/live2d-widget-model-chitose@1.0.5/assets/chitose.model.json-->
  	      <!--萌娘：https://unpkg.com/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json-->
  	      <!--小可爱（女）：https://unpkg.com/live2d-widget-model-koharu@1.0.5/assets/koharu.model.json-->
  	      <!--小可爱（男）：https://unpkg.com/live2d-widget-model-haruto@1.0.5/assets/haruto.model.json-->
  	      <!--初音：https://unpkg.com/live2d-widget-model-miku@1.0.5/assets/miku.model.json-->
  	    L2Dwidget.init({ "model": { jsonPath:
  	          "https://unpkg.com/live2d-widget-model-haruto@1.0.5/assets/haruto.model.json",
  	        "scale": 1 }, "display": { "position": "left", "width": 110, "height": 150,
  	        "hOffset": 0, "vOffset": -20 }, "mobile": { "show": true, "scale": 0.5 },
  	      "react": { "opacityDefault": 0.8, "opacityOnHover": 0.1 } });
  	  </script>
<script>
    $(function(){
		chackLogin(1);
      $("#top").load("top.html")
	   $("#end").load("end.html")
    });
	
	function setIndexBg(){
		var id=$("#bgid").val();
		$("#bgid").val('');
		if(id!=1&&id!=2&&id!=3&&id!=4){
			TGTool().info("请输入1~4的整数");
			return false;
		}	
		$.ajax({
			type: "POST",
			dataType: "json",
			data:{"flag":id},
			url: "http://81.71.4.36:18080/pictures/setindexBg",
			beforeSend: function(request) {
			request.setRequestHeader("admintoken",window.localStorage.getItem("admintoken"));
			},
			success: function(data) {
				swal("已修改","","success");
			},
			error:function(){
				swal("操作失败！","","info");
			}
		});
	}
	function saveAvatar(i){
		var name=$("#name").val();
		var file=$("#file").val();
		if(name==""||file==""){
			TGTool().info("上传失败,请重试");
			clearContent()
			return false;
		}	
		var url;
		var T;
		var t;
		var formData=new FormData();
		formData.append("file",$("#file")[0].files[0]);
		formData.append("name",$("#name").val());
		if(i==0){
			url="http://81.71.4.36:18080/avatars";
			T="#avatarT";
			t="#avatar";
		}else{
			url="http://81.71.4.36:18080/firstPicture";
			T="#firstPictureT";
			t="#firstPicture";
		}
		$.ajax({
			type: "POST",
			dataType: "json",
			url: url,
			data:formData,
			processData : false,
			contentType : false,
			beforeSend: function(request) {
			request.setRequestHeader("admintoken",window.localStorage.getItem("admintoken"));
			},
			success: function(data) {
				var tpl = $(T).html();
				var template = Handlebars.compile(tpl);
				var html = template(data);
				$(t).html(html);
				clearContent()
				swal("已添加","","success");
			},
			error:function(){
				swal("图片过大！","","info");
			}
		});
	}
	function showAvatar(i){
		if(i==0){
			myAjax("GET","json","http://81.71.4.36:18080/avatars","-1","admintoken","#avatarT","#avatar",0,1);
			$("#heads").modal('show')	
		}else{
			myAjax("GET","json","http://81.71.4.36:18080/firstPicture","-1","admintoken","#firstPictureT","#firstPicture",0,1);
			$("#firstPictures").modal('show')
		}
	}
	function deleteAvatar(id,i){
		swal({
			title:"删除该图片？",
			text:"",
			showCancelButton:"true",
			showConfirmButton:"true",
			confirmButtonText:"删除",
			cancelButtonText:"返回",
			animation:"pop",
		},function(){
			if(i==0){
				var url ="http://81.71.4.36:18080/avatars/"+id;
				myAjax("DELETE","json",url,"-1","admintoken","#avatarT","#avatar",1,0,"已删除","","success");
			}else{
				var url="http://81.71.4.36:18080/firstPicture/"+id;
				myAjax("DELETE","json",url,"-1","admintoken","#firstPictureT","#firstPicture",1,0,"已删除","","success");
			}
		})
	}
	function clearContent() {
		$("[name='name']").val('');
		$("[name='file']").val('');
	}
      
    
  </script>
</body>
</html>