<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>树洞-友人帐</title>
    <link href="../static/myImages/树洞.jpg"  rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" >
	<link rel="stylesheet" href="../static/css/TGTool.css">
</head>
<body>

<!--导航-->
<nav class="gird-header" id="nav">
    
</nav>


<!--顶部图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">
    <img src="../static/myImages/哆啦梦.jpg" th:src="@{/images/friendsbg.jpg}" alt="" class="ui m-bg image" style="width: 100%;height: 100%">
    <div class="m-bg-class_cover">
        <div align="center">
        <div class="ui container" align="center" style="position: relative ;bottom: -540px;" >
            <div class="m-font-size-title " align="center" style="font-family:'STXingkai'">友人帐</div>
            <div class="m-font-size-text-init-title m-margin-top" align="center">转瞬即逝的相逢与离别，每一个瞬间，我都想要珍惜</div>
        </div>
        </div>
    </div>
</div>


<!--中间内容-->
<div  class="m-margin- animated fadeIn">
    <div class="ui m-opacity container">
        <div class="box-shadow-max">
        <div class="ui segment m-padded-tb-large m-opacity">
            <div class="ui container">
                <h1 class="" align="center">友人入帐须知</h1>
                    <ui class="list">
                        <div class="m-margin-left-mini m-margin-tb-tiny" style="font-size: large;font-weight: bold">网站要求</div>
                        <br>
                        <li class="m-margin-left-big m-margin-tb-tiny" style="font-size: medium">无色情内容，无政治敏感内容，网站要能长期正常访问</li>
                        <li class="m-margin-left-big m-margin-tb-tiny" style="font-size: medium">二十篇以上个人原创文章，两个月内有新文章更新</li>
                        <li class="m-margin-left-big m-margin-tb-tiny" style="font-size: medium">原创博客、技术博客、游记博客优先</li>
                        <li class="m-margin-left-big m-margin-tb-tiny" style="font-size: medium">需要交换友链，先把本站添加到你的网站中，然后根据下面的格式，给我发email或在留言板给我留言~</li>
                        <br>
                        <div class="m-margin-left-mini m-margin-tb-tiny" style="font-size: large;font-weight: bold">申请格式</div>
                        <br>
                        <li class="m-margin-left-big m-margin-tb-tiny" style="font-size: medium">博客标题：ONESTAR</li>
                        <li class="m-margin-left-big m-margin-tb-tiny" style="font-size: medium">博客地址：https://onestar.newstar.net.cn/</li>
                        <li class="m-margin-left-big m-margin-tb-tiny" style="font-size: medium">图片地址：https://onestar.newstar.net.cn/images/me.jpg</li>
                    </ui>
            </div>
        </div>
        </div>

        <!--友人帐区域-->
        <div class="box-shadow-max">
        <div class="ui top attached teal m-opacity segment box-shadow-max">
            <div class="ui m-padded-tb-large m-container-tiny">
                <div class="ui stackable m-container-mini m-opacity grid" id="friends">
                    <!--友人帐显示区域-->
					<script type="text/template" id="friendsT">
					{{#each this}}
                    <div class="m-margin-tb-tiny four wide column" >
                        <a href="message.html?id={{id}}" class="class_outer">
                            <div align="center">
                                <div class="friends-link">
                                    <img src="{{avatar}}" class="friends-link-image">
                                    <div class="m-margin-top">
									<h4 class="m-font-size-text-friends m-margin-tb-tiny">
									{{nickname}}</h4>
									</div>
                                </div>
                            </div>
                        </a>
                    </div>
					{{/each}}
					</script>
                </div>
            </div>
        </div>
        </div>

    </div>
</div>

<br>
<br>
<!--底部栏-->
<footer class="ui inverted vertical segment m-padded-tb-massive m-opacity" id="home-end">
    
</footer>


<script src="js/jquery.min.js"></script>
<script src="js/handlebars-v4.7.7.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="js/myJs.js"></script>
<script src="js/TGTool.js"></script>
<script src="https://eqcn.ajz.miesnfu.com/wp-content/plugins/wp-3d-pony/live2dw/lib/L2Dwidget.min.js"></script>

<script>
	     <!--小帅哥： https://unpkg.com/live2d-widget-model-chitose@1.0.5/assets/chitose.model.json-->
	      <!--萌娘：https://unpkg.com/live2d-widget-model-shizuku@1.0.5/assets/shizuku.model.json-->
	      <!--小可爱（女）：https://unpkg.com/live2d-widget-model-koharu@1.0.5/assets/koharu.model.json-->
	      <!--小可爱（男）：https://unpkg.com/live2d-widget-model-haruto@1.0.5/assets/haruto.model.json-->
	      <!--初音：https://unpkg.com/live2d-widget-model-miku@1.0.5/assets/miku.model.json-->
	    L2Dwidget.init({ "model": { jsonPath:
	          "https://unpkg.com/live2d-widget-model-koharu@1.0.5/assets/koharu.model.json",
	        "scale": 1 }, "display": { "position": "left", "width": 110, "height": 150,
	        "hOffset": 0, "vOffset": -20 }, "mobile": { "show": true, "scale": 0.5 },
	      "react": { "opacityDefault": 0.8, "opacityOnHover": 0.1 } });
	  </script>
<script>
	$(function(){
		chackLogin(0);
	  $("#nav").load("home-top.html")
	  $("#home-end").load("home-end.html")
	  myAjax("GET","json","http://81.71.4.36:18080/users/rd","-1","token","#friendsT","#friends",0,1);
	});
</script>
</body>
</html>