<div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui olive header item" style="font-family: STSong">树洞客栈</h2>
            <div class="right m-item item m-mobile-hide" id="divurl">
                <a href="index.html" id="index.html" class="m-item item"><i class="home icon"></i>首页</a>
                <a href="types.html" id="types.html" class="m-item item"><i class="clone outline icon"></i>分类</a>
                <a href="archives.html" id="archives.html" class="m-item item"><i class="clock icon"></i>时间轴</a>
                <a href="music.html" id="music.html" class="m-item item"><i class="music icon"></i>音乐盒</a>
                <a href="javascript:void(0)" id="message.html" onclick="chackIfUser(1)" class="m-item item"><i class="book icon"></i>留言板</a>
                <a href="friends.html" id="friends.html" class="m-item item"><i class="pencil alternate icon"></i>友人帐</a>
				<a href="javascript:void(0)" id="user-blog.html" onclick="chackIfUser(0)" class="m-item item"><i class="icon user"></i>我的管理</a>
				<a href="picture.html" id="picture.html" class="olive m-item item"><i class="image icon"></i>照片墙</a>
                <a href="about.html" id="about.html" class="m-item item"><i class="info icon"></i>关于栈主</a>
            </div>
            <div class="right m-item item">
                    <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                        <input style="color: white" id="search" type="text" name="query" placeholder="Search....">
                        <i onclick="search()" class="search link icon"></i>
                    </div>
                
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-hide" style="display: none">
        <i class="sidebar icon"></i>
    </a>
	
	<script>
		head();
		function search(){
			var key=$("#search").val();
			if(key=="")
				return false;
			location.href="search.html?keyWord="+key;
		}
		function chackIfUser(i){
			var user = JSON.parse(window.localStorage.getItem("user"));
			if(user.type==2){
				if(i==0)
					TGTool().info("登陆后就能发表自己的博客和分享自己的照片啦！");
				else
					TGTool().info("登陆后就能查看自己的留言版啦！");
			}
			else{
				if(i==0)
					location.href="user-blog.html";
				else
					location.href="message.html"
			}
				
		}
		
		 
	</script>